<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Version Page</title>
  <link rel="stylesheet" href="../static/css/version.css">
</head>
<body>
  <div class="background-image"></div>

  <div class="screen">
    <header class="header">
         
    </header>

    <div class="card">
      <img src="{{ url_for('static', filename='imges/tamilapp.png') }}" alt="App Logo" class="logo">
      <p class="version">Version 1.0</p>
      <p class="description">தமிழ் குரலை எழுத்தாக மாற்றும் எளிய செயலி.</p>
    </div>
  </div>
</script>
</body>
</html>
